.project-modal[open] {
    display: grid;
    position: fixed;
    top: 20px;
}

.project-modal__form {
    display: grid;
    gap: 8px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.form-row__label {
    font-weight: bold;
    flex: 1;
}

.form-row__input {
    border: none;
    border-bottom: 2px solid cornflowerblue;
    padding: 4px 8px;
    width: 200px;
}

.form-row__input:focus {
    outline: none;
}