:root {
  --todo-row-text: var(--light-grey-alt);
  --todo-row-border: var(--dark-turquoise);
}

.todo-row {
  color: var(--todo-row-text);
  display: grid;
  border: 2px solid var(--todo-row-border);
}

.todo-row__checkbox {
  width: 20px;
}

.todo-row__main {
  color: var(--todo-row-text);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.todo-row__title {
  flex: 1;
}

.todo-row__expanded {
  border-top: 2px solid var(--todo-row-border);
  padding: 8px;
}