:root {
  --todo-row-text: var(--light-grey-alt);
  --todo-row-border: var(--dark-turquoise);

  --todo-row-priority-text: var(--dark-grey);
  --todo-row-p0: var(--dark-turquoise);

  --todo-row-p1: var(--solid-red);
  --todo-row-p2: var(--solid-yellow);
  --todo-row-p3: var(--solid-green);
  --todo-row-p4: var(--solid-blue);

  --todo-row-completed: var(--dark-turquoise);

  --todo-checkbox-check: var(--dark-grey);

  --todo-checkbox: var(--light-grey);
  --todo-checkbox-hover:  var(--light-grey-alt);

  --todo-checkbox-checked: var(--dark-turquoise);
  --todo-checkbox-checked-hover:  var(--dark-turquoise-alt);
}

.todo-row {
  color: var(--todo-row-text);
  display: grid;
  border: 2px solid var(--todo-row-border);
}

.todo-row__checkbox {
  appearance: none;
  margin: 0;
  font: inherit;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid var(--todo-checkbox);
  display: grid; 
  place-content: center;
}

.todo-row__checkbox:hover {
  cursor: pointer;
  border: 0.15em solid var(--todo-checkbox-hover);

}

.todo-row__checkbox:checked:hover {
  background: var(--todo-checkbox-checked-hover);
  border: 4px solid var(--todo-checkbox-checked-hover);
}

.todo-row__checkbox::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--todo-checkbox-check);
}

.todo-row__checkbox:checked::before {
  transform: scale(1);
}

.todo-row__checkbox:checked {
  background: var(--todo-checkbox-checked);
  border: 4px solid var(--todo-checkbox-checked);
}

.todo-row__main {
  color: var(--todo-row-text);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.todo-row__title {
  flex: 1;
}

.todo-row__expanded {
  border-top: 2px solid var(--todo-row-border);
  padding: 8px;
}

.todo-row__edit-btn {
  background: none;
  border: none;
  display: grid;
  place-content: center;
}

.todo-row__edit-btn:hover {
  cursor: pointer;
}

.todo-row__edit-icon {
  width: 20px;
}

.todo-row__priority {
  background: var(--todo-row-p0);
  color: var(--todo-row-priority-text);
  padding: 1px 4px;
  font-weight: bold;
}

/* Priority Task Styling */
.todo-row--p1 .todo-row__priority {
  background: var(--todo-row-p1);
}

.todo-row--p2 .todo-row__priority {
  background: var(--todo-row-p2);
}

.todo-row--p3 .todo-row__priority {
  background: var(--todo-row-p3);
}

.todo-row--p4 .todo-row__priority {
  background: var(--todo-row-p4);
}

.todo-row__delete-btn {
  background: none;
  border: none;
  display: grid;
  place-content: center;
}

.todo-row__delete-btn:hover {
  cursor: pointer;
}

.todo-row__trash-icon {
  width: 16px;
}

.todo-row__expand-btn {
  margin: 0 -12px;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  border: none;
  background: none;
}


.todo-row__expand-btn:hover {
  cursor: pointer;
}

.todo-row__expand-btn::before {
  content: "";
  background: var(--todo-row-text);
  width: 20px;
  height: 20px;
  clip-path: polygon(40% 30%, 70% 50%, 40% 70%);
}

.todo-row__expand-btn.todo-row__expand-btn--open::before {
  transform: rotate(90deg);
}

.todo-row--completed {
  color: var(--todo-row-completed);
}

.todo-row--completed .todo-row__title {
  text-decoration: line-through 0.1em;
  color: var(--todo-row-completed);
}

.todo-row--completed .todo-row__date {
  text-decoration: line-through 0.1em;
  color: var(--todo-row-completed);
}

.todo-row--completed .todo-row__expanded {
  text-decoration: line-through 0.1em;
}

.todo-row--completed .todo-row__priority {
  background: var(--todo-row-p0);
  color: var(--todo-row-priority-text);
}

.todo-row--completed .todo-row__expand-btn::before {
  background: var(--todo-row-completed);
}