:root {
  --main-bg: var(--dark-grey);
  --sidebar-bg: var(--dark-grey-alt);
  --sidebar-border: var(--dark-turquoise);

  --logo-text: var(--turquoise);

  --list-btn-text: var(--green);
  --list-btn-bg-hover: var(--dark-turquoise);
  --list-btn-text-hover: var(--seagreen-alt);
}

.layout-wrapper {
  color: var(--text-default);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.main {
  grid-area: main;
  background-color: var(--main-bg);
  padding: 8px;
  padding-top: 48px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
}

.logo {
  border-bottom: 2px solid var(--sidebar-border);
}

.logo__a {
  text-decoration: none;
  padding: 4px 8px;
  font-weight: bold;
  color: var(--logo-text);
}

.todos-nav {
  border-bottom: 2px solid var(--sidebar-border);
  padding: 8px;
}

.projects-nav {
  border-bottom: 2px solid var(--sidebar-border);
  padding: 8px;
}

.list-btn {
  padding: 4px 8px;
  border: none;
  background: none;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
  color: var(--list-btn-text);
}

.list-btn:hover {
  background-color: var(--list-btn-bg-hover);
  color: var(--list-btn-text-hover);
}