.layout-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightblue;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 8px;
  padding: 8px;
}

.main {
  grid-area: main;
  background-color: lightgray;
  padding: 8px;
  padding-top: 48px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
}

.todos-nav {
  background-color: cornflowerblue;
  padding: 8px;
}

.projects-nav {
  background-color: lightskyblue;
  padding: 8px;
}

.todos-header {
  background-color: whitesmoke;
}

.todos {
  background-color: whitesmoke;
}